h1{
    background-color: black;
    color: white;
    font-size: 60pts;
}

#cloud{
    color: cyan;
}

h2{
    background-color: rgb(132, 32, 172);
    color: white;
    text-align: center;
    font-style: italic;
}

h3{
    background-color: deepskyblue;
    text-align: right;
    text-decoration: underline;
}